In [2]:
from datetime import timedelta

In [13]:
from datetime import datetime
import pandas as pd
import numpy as np

In [14]:
dates = [datetime(2023,2,11), datetime(2023,2,12), datetime(2023,2,13), datetime(2023,2,14), datetime(2023,2,15)]
dates

[datetime.datetime(2023, 2, 11, 0, 0),
 datetime.datetime(2023, 2, 12, 0, 0),
 datetime.datetime(2023, 2, 13, 0, 0),
 datetime.datetime(2023, 2, 14, 0, 0),
 datetime.datetime(2023, 2, 15, 0, 0)]

In [16]:
ts1 = pd.Series(np.arange(5), index = dates)
ts1

2023-02-11    0
2023-02-12    1
2023-02-13    2
2023-02-14    3
2023-02-15    4
dtype: int32

In [17]:
df = pd.DataFrame({'Naver': [100, 101, 103, 105],
'Kakao': [90, 100, 110, 90]},
index = pd.date_range('2019-08-01', periods = 4, freq = 'B'))
df

            Naver  Kakao
2019-08-01    100     90
2019-08-02    101    100
2019-08-05    103    110
2019-08-06    105     90

In [20]:
df.resample('D').ffill()

            Naver  Kakao
2019-08-01    100     90
2019-08-02    101    100
2019-08-03    101    100
2019-08-04    101    100
2019-08-05    103    110
2019-08-06    105     90

In [ ]:
df.resample('D').ffill(limit=1)

In [21]:
pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
                                              0.0/109.5 kB ? eta -:--:--
     -------------------------------------- 109.5/109.5 kB 6.6 MB/s eta 0:00:00
Requirement already satisfied: lxml in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from pandas_datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from pandas_datareader) (2.0.2)
Requirement already satisfied: requests>=2.19.0 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from pandas_datareader) (2.31.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2023.5.7)
Requirement already satisfied: six>=1.5 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [22]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.7.1-cp310-cp310-win_amd64.whl (7.6 MB)
                                              0.0/7.6 MB ? eta -:--:--
     --                                       0.4/7.6 MB 8.5 MB/s eta 0:00:01
     -----                                    1.1/7.6 MB 11.7 MB/s eta 0:00:01
     ----------                               2.0/7.6 MB 14.0 MB/s eta 0:00:01
     ----------------                         3.1/7.6 MB 16.3 MB/s eta 0:00:01
     ----------------------                   4.3/7.6 MB 18.5 MB/s eta 0:00:01
     -----------------------------            5.6/7.6 MB 21.2 MB/s eta 0:00:01
     -------------------------------------    7.1/7.6 MB 21.8 MB/s eta 0:00:01
     ---------------------------------------- 7.6/7.6 MB 21.2 MB/s eta 0:00:00
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.1.0-cp310-cp310-win_amd64.whl (470 kB)
                                              0.0/470.4 kB ? eta -:--:--
     ------------------------------------- 470.4/470.4 kB 30.7 MB/s eta 0:00:00
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.40.0-cp310-cp310-win_amd64.whl (1.9 MB)
                                              0.0/1.9 MB ? eta -:--:--
     --------------------------------------   1.9/1.9 MB 59.5 MB/s eta 0:00:01
     ---------------------------------------- 1.9/1.9 MB 31.2 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Downloading kiwisolver-1.4.4-cp310-cp310-win_amd64.whl (55 kB)
                                              0.0/55.3 kB ? eta -:--:--
     ---------------------------------------- 55.3/55.3 kB ? eta 0:00:00
Requirement already satisfied: numpy>=1.20 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (9.5.0)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.0-py3-none-any.whl (102 kB)
                                              0.0/102.6 kB ? eta -:--:--
     ---------------------------------------- 102.6/102.6 kB ? eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\32193392\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.1.0 cycler-0.11.0 fonttools-4.40.0 kiwisolver-1.4.4 matplotlib-3.7.1 pyparsing-3.1.0

In [23]:
import pandas_datareader.data as web
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
start = datetime(2023,1,1)
end = datetime.now()

In [25]:
import yfinance as yf

apple = yf.download("AAPL", start=start, end=end)
ms = yf.download("MSFT", start=start, end=end)
coupang =  yf.download("CPNG", start=start, end=end)


coupang

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-01-03  15.030000  15.370000  14.710000  14.920000  14.920000   7391500
2023-01-04  15.270000  15.725000  15.020000  15.630000  15.630000   8263200
2023-01-05  15.400000  16.000000  15.400000  15.810000  15.810000   7161600
2023-01-06  15.960000  16.950001  15.840000  16.709999  16.709999   8118800
2023-01-09  17.000000  17.950001  16.840000  17.870001  17.870001  11765000
...               ...        ...        ...        ...        ...       ...
2023-06-26  16.510000  16.900000  16.059999  16.070000  16.070000  10075800
2023-06-27  16.260000  17.440001  16.160000  17.320000  17.320000  15507800
2023-06-28  17.090000  17.760000  17.059999  17.200001  17.200001   8858000
2023-06-29  17.160000  17.389999  17.030001  17.260000  17.260000   4863300
2023-06-30  17.459999  17.600000  17.309999  17.400000  17.400000   5062800

[124 rows x 6 columns]

In [27]:
samsung = yf.download("005930.KS", start=start, end=end)
samsung

[*********************100%***********************]  1 of 1 completed

               Open     High      Low    Close     Adj Close    Volume
Date
2023-01-02  55500.0  56100.0  55200.0  55500.0  55180.453125  10031448
2023-01-03  55400.0  56000.0  54500.0  55400.0  55081.031250  13547030
2023-01-04  55700.0  58000.0  55600.0  57800.0  57467.210938  20188071
2023-01-05  58200.0  58800.0  57600.0  58200.0  57864.910156  15682826
2023-01-06  58300.0  59400.0  57900.0  59000.0  58660.304688  17334989
...             ...      ...      ...      ...           ...       ...
2023-06-26  71700.0  72500.0  71500.0  72400.0  72400.000000  10541901
2023-06-27  72500.0  72600.0  72000.0  72600.0  72600.000000   9442997
2023-06-28  72600.0  72700.0  72000.0  72700.0  72700.000000   8783093
2023-06-29  73100.0  73400.0  72400.0  72400.0  72400.000000  12229967
2023-06-30  72500.0  72700.0  71700.0  72200.0  72200.000000  11694765

[123 rows x 6 columns]