### ㅁOne Point Tutorial Basic II
## `Collection, Control Statement and UDF`
<p style='text-align: right;'> 빅데이터 분석 중고급과정 with 관악구, KMR</p>
<p style='text-align: right;'> 2023 2nd | All rights reserved by Wooseok Song</p>

---

# Contents
<font color="green">**1. About Type of Collections**<font><br>
<font color="green">**2. About Control Statements**<font><br>
<font color="green">**3. About UDF**<font><br>
<br>
    
---

# 1. About Collection Type
변수의 **atomic class**에 대해 배웠다면, 실질적으로 우리가 데이터를 처리할 때 다루게 될 변수형에 대해 알아보자. <br>
<br>
데이터 사이언스의 재료로 사용하게 될 데이터는 값 하나하나를 대상으로 할 경우도 있지만 일반적으로 흔히 이야기 하는 벡터 혹은 행과 열을 갖고 있는 매트릭스 형태를 대상으로 하게 된다.<br>
또한 종종 생활기록부나 인적사항 및 병원 차트 형태의 데이터를 다뤄야 할 경우도 있다.<br>
이 경우 모아둔 데이터의 특정 부분을 어떻게 호출하고 가공 할 수 있을까?<br>
<br>
컬렉션 자료형은, 심플한 단일 변수 뿐만 아니라 위에서 이야기 한 여러 데이터들을 구조적으로 모아두고 인덱스를 통해 각기 접근이 가능하도록 만들어둔 일종의 데이터 컨테이너로서 실질적인 데이터 사이언스를 수행하기 위한 가장 중요한 변수의 형태이다.
<br>
기본적인 컬렉션을 포함하여 특정 라이브러리에서 제공하는 객체형의 경우 생성, 접근, 변경, 삽입, 삭제, 탐색 및 정렬 등의 기능을 통해 우리가 원하는 형태로 데이터를 가공 할 수 있으며, 이번 강의를 통해 컬렉션의 처리에 대해 배워보도록 하자.

### Type of Collection
1. List
2. Tuple
3. Set
4. Dictionary

## 1.1. List
리스트는 모든 변경 가능성을 고려한(mutable) 가장 기본적인 컬렉션이나, 이를 위하여 메모리를 효율적으로 사용하지 못했다는 단점이 있다.
리스트를 구성하는 원소로는
숫자, 문자 및 리스트 등이 복합적으로 사용될 수 있다.<br>
생성에는 double angle bracket(square bracket) [ ]을 사용한다.

### 1.1.1. 생성

In [1]:
# 빈 객체 생성
list_1 = [] 

# 정수형 객체 생성
list_2 = [2019, 2020, 2021] 

# 문자형 객체 생성
list_3 = ["인공지능", 'AI'] 

# 문자 & 숫자 객체 생성
list_4 = ["R과", "파이썬으로", "배우는", 'Data', 'Science', 2020] 

# 문자, 숫자, 리스트 객체 생성
list_5 = ["R과", "파이썬으로", "배우는", 'Data', 'Science', '2020', ["인공지능", 'AI']]

# 문자, 숫자, 리스트 오브젝트 객체 생성
list_6 = ["R과", "파이썬으로", "배우는", 'Data', 'Science', '2020', list_3]

# 리스트의 타입은?
print(type(list_1), '\n')

<class 'list'>

만들어진 컬렉션 객체들의 값을 보자.

In [2]:
print('list_1 = ', list_1)
print('list_2 = ', list_2)
print('list_3 = ', list_3)
print('list_4 = ', list_4)
print('list_5 = ', list_5)
print('list_6 = ', list_6, '\n')

list_1 =  []
list_2 =  [2019, 2020, 2021]
list_3 =  ['인공지능', 'AI']
list_4 =  ['R과', '파이썬으로', '배우는', 'Data', 'Science', 2020]
list_5 =  ['R과', '파이썬으로', '배우는', 'Data', 'Science', '2020', ['인공지능', 'AI']]
list_6 =  ['R과', '파이썬으로', '배우는', 'Data', 'Science', '2020', ['인공지능', 'AI']]

이쯤에서 퀴즈 하나.<br>
list_5와 list_6는 같은 것일까?

In [3]:
#### Type Your Code ####
print('Are the list_5 and the list_6 same? :', list_5 == list_6)

Are the list_5 and the list_6 same? : True

이번에는 0~5까지의 6가지 정수 원소를 갖는 리스트를 만들어보자.

##### 방법 1

In [4]:
list_7 = [0, 1, 2, 3, 4, 5]
list_7

[0, 1, 2, 3, 4, 5]

##### 방법 2

In [10]:
list_8 = list(range(6))
list_8

[0, 1, 2, 3, 4, 5]

##### 방법 3

In [11]:
list_9 = []

for i in range(6):
    list_9.append(i)

list_9

[0, 1, 2, 3, 4, 5]

##### 방법 4

In [5]:
list_10 = [i for i in range(6)]
list_10

[0, 1, 2, 3, 4, 5]

##### 방법5

In [6]:
list_11 = list('012345')
print(list_11, '\n')

list_12 = list(map(int, list_11))
print(list_12)

['0', '1', '2', '3', '4', '5']

[0, 1, 2, 3, 4, 5]

##### 방법 5

In [12]:
# 역순으로 출력하기
reversed(range(6))

In [14]:
#### Type Your Code ####
# 0부터 9까지를 element로 갖는 리스트를 for list comprehension을 사용하여 역순으로 객체 list_13에 할당하여 출력하라. 
# list_13 = [i for i in reversed(range(10))]
# list_13
list_13 = [i for i in reversed(range(10))]
list_13
########################

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### 1.1.2. 접근

In [1]:
list_13 = list(range(6))
print(list_13)

[0, 1, 2, 3, 4, 5]

첫 번째 원소에 접근하기

In [7]:
list_13[0]

0

두 번째 부터 세 번째 원소에 접근하기

##### 방법 1

In [8]:
list_13[1:3]

[1, 2]

!!! 개구간, 폐구간, 개폐구간

#### 방법 2

In [9]:
[list_13[i] for i in [1, 2]]

[1, 2]

첫 번째, 네 번째 원소에 접근하기

In [10]:
[list_13[i] for i in [0, 3]]

[0, 3]

### 1.1.3. 변경

첫 번째 원소 값을 100으로 바꾸기

In [11]:
list_13[0] = 100
list_13

[100, 1, 2, 3, 4, 5]

두 번째 원소 값을 1000으로 바꾸기

#### 방법 1

In [12]:
list_13[1] = 1000
list_13

[100, 1000, 2, 3, 4, 5]

#### 방법 2

In [13]:
list_13[1:2] = [1000]
list_13

[100, 1000, 2, 3, 4, 5]

세 번째, 네 번째 원소를 2000으로 변경하기

In [14]:
list_13[2:4] = [2000]
list_13

[100, 1000, 2000, 4, 5]

왜 이런 현상이 벌어진 걸까?

In [15]:
list_14 = list(range(6))
list_14[1:3] = 1000, 1000
print(list_14)

list_14[1:3] = [2000, 2000]
print(list_14)

[0, 1000, 1000, 3, 4, 5]
[0, 2000, 2000, 3, 4, 5]

NumPy와 Pandas 객체에서도 동일하게 사용되는 다양한 indexing/slicing 방법들이 있으니, 뒤에서 더 다뤄보도록 하자.

### 1.1.4. 삽입

In [16]:
list_15 = [0, 1, 2, 3, 4, 5]
print(list_15)
list_15.append(6)
list_15

[0, 1, 2, 3, 4, 5]

[0, 1, 2, 3, 4, 5, 6]

In [20]:
list_15 = list_15 + [7]
list_15

[0, 1, 2, 3, 4, 5, 6, 7]

In [21]:
list_15 = [-1] + list_15
list_15

[-1, 0, 1, 2, 3, 4, 5, 6, 7]

In [22]:
list_15 += [1]
list_15

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 1]

In [23]:
list_15 = list_15[0:3] + [1000] + list_15[4:len(list_15)]
list_15

[-1, 0, 1, 1000, 3, 4, 5, 6, 7, 1]

사칙연산은?

In [24]:
list_15 + list_15

[-1, 0, 1, 1000, 3, 4, 5, 6, 7, 1, -1, 0, 1, 1000, 3, 4, 5, 6, 7, 1]

In [25]:
3 * list_15

[-1,
 0,
 1,
 1000,
 3,
 4,
 5,
 6,
 7,
 1,
 -1,
 0,
 1,
 1000,
 3,
 4,
 5,
 6,
 7,
 1,
 -1,
 0,
 1,
 1000,
 3,
 4,
 5,
 6,
 7,
 1]

In [26]:
# list_15 - list_15와 list_15/list_15는 불가

### 1.1.5. 삭제

#### remove

In [32]:
list_16 = [-1, 0, 1, 2, 2, 3, 4, 5, 6]
list_16

[-1, 0, 1, 2, 2, 3, 4, 5, 6]

숫자 2를 지워보자.

In [28]:
list_16.remove(2)
list_16

[-1, 0, 1, 2, 3, 4, 5, 6]

한 번 더 지워보자.

In [35]:
list_16.remove(2)
list_16

ValueError: list.remove(x): x not in list

#### pop

맨 처음으로 돌아가서, 세 번째 원소를 지워보자.

In [36]:
list_17 = [-1, 0, 1, 2, 2, 3, 4, 5, 6]
list_17

[-1, 0, 1, 2, 2, 3, 4, 5, 6]

In [37]:
list_17.pop(2)

1

In [38]:
list_17

[-1, 0, 2, 2, 3, 4, 5, 6]

한 번 더 해보자.

In [51]:
list_17.pop(2)

IndexError: pop index out of range

In [52]:
list_17

[-1, 0]

#### del

이번에도 pop과 같이 세 번째 원소를 지워보자.

In [70]:
list_18 = [-1, 0, 1, 2, 2, 3, 4, 5, 6]
list_18

[-1, 0, 1, 2, 2, 3, 4, 5, 6]

In [67]:
del list_18[2]
list_18

[-1, 0, 2, 2, 3, 4, 5, 6]

좋은 건 한 번 더..

In [68]:
del list_18[2]
list_18

[-1, 0, 2, 3, 4, 5, 6]

인덱서에 -1을 넣게 되면 어떻게 될까?

#### remove with -1

In [69]:
list_19 = [-1, 0, 1, 2, 2, 3, 4, 5, 6]
list_19.remove(-1)
list_19

[0, 1, 2, 2, 3, 4, 5, 6]

#### pop with -1

In [71]:
list_20 = [-1, 0, 1, 2, 2, 3, 4, 5, 6]
list_20.pop(-1)

6

In [72]:
print(list_20)

[-1, 0, 1, 2, 2, 3, 4, 5]

#### del with -1

In [73]:
list_21 = [-1, 0, 1, 2, 2, 3, 4, 5, 6]
del list_21[-1]
list_21

[-1, 0, 1, 2, 2, 3, 4, 5]

#### del with -2

In [42]:
list_22 = [-1, 0, 1, 2, 2, 3, 4, 5, 6]
del list_22[-2]
list_22

[-1, 0, 1, 2, 2, 3, 4, 6]

### 1.1.6. 탐색

In [74]:
list_23 = [0, 1, 2, 3, 4, 100]
list_23

[0, 1, 2, 3, 4, 100]

In [75]:
# length
len(list_23)

6

In [76]:
# Maximum
max(list_23)

100

In [77]:
# Minimum
min(list_23)

0

In [78]:
# Count
list_23.count(100)

1

In [48]:
# Number of Index
list_23.index(100)

5

### 1.1.7. 정렬

In [79]:
list_24 = [0, 1000, 2, -100, 4, 100]
sorted(list_24)

[-100, 0, 2, 4, 100, 1000]

In [50]:
list_24

[0, 1000, 2, -100, 4, 100]

In [80]:
list_24.sort() # 원본 수정

In [81]:
list_24

[1000, 100, 4, 2, 0, -100]

In [53]:
list_24 = [0, 1000, 2, -100, 4, 100]
sorted(list_24, reverse=True) # 역순

[1000, 100, 4, 2, 0, -100]

In [54]:
sorted(list_24, key = lambda x: -x) # 역순 = -를 취한 것을 기준으로 정렬
# 참참고 : lambda는 짧은 방식으로 함수를 정의한 것

[1000, 100, 4, 2, 0, -100]

In [55]:
def minus(x):
    return -x
sorted(list_24, key = minus)

[1000, 100, 4, 2, 0, -100]

## 1.2. Tuple
튜플은 모든 변경 가능성을 배제한(immutable) 컬렉션으로, 메모리를 절약 할 수 있으며 의도치 않은 자료 변경에 따른 불의의 실수를 예방 할 수 있다는 장점이 있다.<br>
선언에는 소괄호(round bracket) ( )를 사용하며, 원소가 1개인 튜플의 경우 튜플형임을 명기하기 위하여 원소 옆에 comma(,)를 붙인다.<br>

cf. list와 tuple의 1원소 객체형 비교

In [56]:
list_single = [1]
print(type(list_single))

tuple_single_1 = (1)
print(type(tuple_single_1))

tuple_single_2 = (1,)
print(type(tuple_single_2))

<class 'list'>
<class 'int'>
<class 'tuple'>

### 1.2.1. 생성

#### 방법 1

In [57]:
tuple_1 = (0, 1, 2, 3, 4, 5)
tuple_1

(0, 1, 2, 3, 4, 5)

#### 방법 2

In [58]:
tuple_2 = tuple(range(6))
tuple_2

(0, 1, 2, 3, 4, 5)

#### 방법 3

In [23]:
tuple_3 = tuple(map(int, '0 1 2 3 4 5'.split())) # 리스트에서도 동일한 방법을 적용 할 수 있다.
tuple_3

(0, 1, 2, 3, 4, 5)

### 1.2.2. 접근

In [28]:
tuple_3[1:2] # 1에 접근

1

In [61]:
tuple_3[2:4] # 2, 3에 접근

(2, 3)

In [31]:
tuple_3[0:6:2] # Q. 규칙은 무엇일까?

(0, 2, 4)

### 1.2.3. 변경

변경 불가(immutable)

### 1.2.4. 삽입

기존 튜플 내 삽입 불가(immutable)이나, + 및 *를 통하여 새로운 튜플을 생성하는 작업은 가능하다.<br>
ex.

In [63]:
tuple_4 = tuple_3 + tuple_3 * 2
tuple_4

(0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5)

### 1.2.5. 삭제

삭제 불가(immutable)

### 1.2.6. 탐색

In [64]:
len(tuple_4)

18

In [65]:
max(tuple_4)

5

In [66]:
min(tuple_4)

0

In [67]:
tuple_4.count(0) # 해당 튜플 내 0의 갯수

3

In [68]:
tuple_4.index(0) # 해당 튜플 내 처음으로 0이 나오는 인덱스 반환

0

### 1.2.7. 정렬

Immutable이므로 정렬의 의미가 없으나, 굳이 정렬하게 된다면 리스트가 생성된다.

In [69]:
print(sorted(tuple_4))
print(type(sorted(tuple_4)))

[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5]
<class 'list'>

## 1.3. Set
중복 없는 고유 원소들로 구성된 집합 형태의 컬렉션으로 추가, 삽입 및 삭제는 가능하나 중복값이 제거되므로 이를 활용하여 특수한 경우 유용하게 활용 가능하며 '고유값'에 초첨을 맞춘 관계로 인덱스를 사용할 수 없어 이를 활용한 접근 등이 불가능하다.<br>
중괄호(brace bracket)를 사용하여 선언한다.
직관적으로, 중괄호 안에 어떤 수 혹은 문자를 할당하더라도 해당 셋이 가지고 있는 고유 원소의 목록을 보여준다고 생각하면 이해하기 쉽다.<br>

### 1.3.1. 생성

#### 방법 1

In [70]:
set_1 = {0, 1, 2, 3, 4, 5}
set_1

{0, 1, 2, 3, 4, 5}

#### 방법 2

In [71]:
set_2 = set(range(6))
set_2

{0, 1, 2, 3, 4, 5}

#### 방법 3

In [72]:
set_3 = set(map(int, '0 1 2 3 4 5'.split()))
set_3

{0, 1, 2, 3, 4, 5}

#### 방법 4

In [73]:
set_4 = {0, 1, 2, 2, 2, 2, 2, 2, 2, 3, 4, 5}
set_4

{0, 1, 2, 3, 4, 5}

#### 방법 5

In [74]:
set_5 = {5, 3, 4, 1, 1, 2, 0}
set_5

{0, 1, 2, 3, 4, 5}

#### 방법 6

In [32]:
set_6 = {'z', 'a', '1', 3, 5, 5, 2, 3, 1, 'b', 'z'}
set_6
print(set_6)
print('!!! 사전식 배열을 따른다는 것을 유념하도록 하자.')

{1, 2, 3, 5, 'a', '1', 'z', 'b'}
!!! 사전식 배열을 따른다는 것을 유념하도록 하자.

### 1.3.2. 접근

불가

### 1.3.3. 변경

불가

### 1.3.4. 삽입

#### 방법 1

In [76]:
set_7 = {0, 1, 2, 3, 4, 5}

In [77]:
set_7.add(6)
set_7

{0, 1, 2, 3, 4, 5, 6}

#### 방법 2

In [78]:
set_8 = {0, 1, 2, 3, 4, 5}

In [79]:
set_8.update({-1, 0, 7, 1})
set_8

{-1, 0, 1, 2, 3, 4, 5, 7}

### 1.3.5. 삭제

In [36]:
set_9 = {0, 1, 2, 3, 4, 5}

In [37]:
set_9.remove(0) #없는 원소를 삭제하려 할 경우 에러 발생, 본 코드 두 번 돌려 확인 할 것
set_9

{1, 2, 3, 4, 5}

In [38]:
set_9.clear() # 근심걱정따위..
set_9

set()

### 1.3.6. 탐색

고유값에 대한 리스팅이 목적으로서 탐색은 본질적으로 불가

### 1.3.7. 정렬

역시 본질적으로 불가

## 1.4. Dictionary
딕셔너리는 **키와 밸류**로 데이터를 연결하는 방식으로, json 포맷 등 데이터의 키와 값이 비균등한 형식을 취급하기 좋다.<br>
특히 AI에서 자주 다루는 비정형 데이터를 처리하기 좋은 포맷이다.<br>
Set과 같이 중괄호를 사용하나, {'key_1': value_list_1, 'key_2': value_list_2, ...}의 형태로 처리하는 구조적 특성이 있다.

### 1.4.1. 생성

In [2]:
prices = {
    'Naver': 42.1,
    'Samsung': 302.78,
    'LG': 325.25,
    'Sk': 73.10,
    'Hyundai': 90.75
}
prices

{'Naver': 42.1, 'Samsung': 302.78, 'LG': 325.25, 'Sk': 73.1, 'Hyundai': 90.75}

### 1.4.2. 접근

In [3]:
prices['Naver']

42.1

### 1.4.3. 변경

In [4]:
prices['Naver'] = 23.5
prices

{'Naver': 23.5, 'Samsung': 302.78, 'LG': 325.25, 'Sk': 73.1, 'Hyundai': 90.75}

### 1.4.4. 삽입

In [5]:
prices['Kakao'] = 100
prices

{'Naver': 23.5,
 'Samsung': 302.78,
 'LG': 325.25,
 'Sk': 73.1,
 'Hyundai': 90.75,
 'Kakao': 100}

### 1.4.5. 삭제

In [6]:
del prices['Samsung']
prices

{'Naver': 23.5, 'LG': 325.25, 'Sk': 73.1, 'Hyundai': 90.75, 'Kakao': 100}

### 1.4.6. 탐색

In [7]:
prices

{'Naver': 23.5, 'LG': 325.25, 'Sk': 73.1, 'Hyundai': 90.75, 'Kakao': 100}

In [8]:
len(prices)

5

In [9]:
max(prices) # 이름이 사전 배열에서 가장 높은 것을 고름

'Sk'

In [10]:
max(prices, key = lambda x: prices[x]) # 값을 기준으로 고름

'LG'

In [11]:
min(prices)

'Hyundai'

In [12]:
min(prices, key = lambda x: prices[x])

'Naver'

In [13]:
prices.values()

dict_values([23.5, 325.25, 73.1, 90.75, 100])

In [14]:
prices.keys()

dict_keys(['Naver', 'LG', 'Sk', 'Hyundai', 'Kakao'])

In [15]:
max(zip(prices.keys(), prices.values()), key = lambda x: x[1]) 
# 이름과 함께 출력하되, 값을 기준으로 하려면 (회사이름, 가격)으로 묶어주고 key를 가격으로

('LG', 325.25)

In [16]:
prices.items() # key와 value를 함께 묶어준다.

dict_items([('Naver', 23.5), ('LG', 325.25), ('Sk', 73.1), ('Hyundai', 90.75), ('Kakao', 100)])

In [17]:
max(prices.items(), key = lambda x: x[1])

('LG', 325.25)

### 1.4.7. 정렬

In [99]:
sorted(prices) # 이름으로 나열

['Hyundai', 'Kakao', 'LG', 'Naver', 'Sk']

In [100]:
sorted(prices, key = lambda x: prices[x]) # 가격으로 나열 (저렴한 순)

['Naver', 'Sk', 'Hyundai', 'Kakao', 'LG']

In [101]:
sorted(prices, key = lambda x: -prices[x]) # 가격으로 나열 (비싼 순)

['LG', 'Kakao', 'Hyundai', 'Sk', 'Naver']

In [102]:
sorted(zip(prices.values(), prices.keys())) # 이름과 함께

[(23.5, 'Naver'),
 (73.1, 'Sk'),
 (90.75, 'Hyundai'),
 (100, 'Kakao'),
 (325.25, 'LG')]

In [103]:
dic_1 = {'key1': 1, 'key2': 2}
sorted(dic_1) # key 기준 사전식 정렬

['key1', 'key2']

In [104]:
sorted(dic_1, reverse=True) # 내림차순

['key2', 'key1']

#### cf. Nested List vs. Dictionary

In [14]:
# Nested List
grades_list = [
    ['001', 100, 90, 'A'], 
    ['002', 10, 30, 'D'], 
    ['003', 70, 80, 'B']
]

for student in grades_list:
    if student[0] == '001':
        print(student[1:])

[100, 90, 'A']

In [15]:
# Dictionary
grades_list = {
    '001': [100, 90, 'A'], 
    '002': [10, 30, 'D'], 
    '003': [70, 80, 'B']
}
grades_list['001']

[100, 90, 'A']

# 2. About Control Statements
제어문은 함수와 함께 프로그래밍의 꽃이라고 할 수 있다.<br>
다양한 조건을 처리하여 원하는 과제를 수행해보자.

>어느 개발자가 퇴근길에 아내에게 전화를 걸었다.
>
>**개발자**:<br>
>자기 나 지금 퇴근.<br>
>집에 가는 길에 마트 들를 건데 뭐 사다 줄까?<br>
>
>**아 내**:<br>
>우유 두 개 사 와.<br>
>
>**개발자**: <br>
>그리고?
>
>**아 내**: <br>
>만약 마트에 달걀이 있으면 여섯 개 사다 줘.
>
>귀가한 개발자, 아내에게 우유 여섯 개를 건넨다.
>
>**아 내**: <br>
>왜 이렇게 우유를 많이 샀어?
>
>**개발자**: <br>
>마트에 달걀이 있길래..

## 2.1. IF
### 2.1.1. Simple if

>**if  조건식:  
>&nbsp;&nbsp;&nbsp;&nbsp;실행문**
 
만약 조건식이 참이라면, 실행문 하거라~~~<br>
<br>
조건식은 여러 비교 연산자를 활용하여 구성한다.

In [22]:
a = 1
b = 3

if a > b:
    print(a, 'is larger than', b)
else: 
    print("b is larger than b")

b is larger than b

### 2.1.2. if else
>**if  조건식1:  
>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;실행문1<br>
>else  조건식2:<br>
>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;실행문2**

In [108]:
if a > b:
    print('a is larger than b')
else:
    print('b is equal or larger than a')

a is larger than b

### 2.1.3. if elif else
>**if  조건식1:  
>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;실행문1<br>
>elif  조건식2:<br>
>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;실행문2**<br>
>**else  조건식3:<br>
>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;실행문3**

In [109]:
if a > b:
    print('a is larger than b')
elif a==b:
    print('b is equal to a')
else:
    print('b is larger than a')

a is larger than b

### 2.1.4. NESTED if else
>**if  조건식1:  
>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if  조건식1-1:<br>
>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;실행문1-1<br>
>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else:<br>
>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;실행문1-2<br>
>else:<br>
>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if  조건식2-1:<br>
>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;실행문2-1<br>
>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else:<br>
>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;실행문2-2**<br>

In [25]:
gender = 'man'
age = 6

if gender == 'man':
    if age >= 19:
        print('성인 남성')
    else:
        print('미성년자 남성')
else:
    if age >= 19:
        print('성인 여성')
    else:
        print('미성년자 여성')

미성년자 남성

### 2.1.5. ifelse
>실행문1 **if** 조건식1 **else** 실행문2

In [28]:
a = 4

In [29]:
'홀수' if a % 2 == 1 else '짝수'

'짝수'

## 2.2. FOR

>**for i in range( ):  
>&nbsp;&nbsp;&nbsp;&nbsp;실행문**
 
범위 안의 i에 대해서 실행문 하거라~~<br>
<br>
범위와 관련한 여러 기법들이 존재한다.

In [35]:
# Print Even numbers under 20 by using FOR
for i in range(1,10):
    print(i*2)

2
4
6
8
10
12
14
16
18

## 2.3. WHILE

>**>while 조건문:  
>&nbsp;&nbsp;&nbsp;&nbsp;실행문**
 
초기값에 대해 조건문이 ???한 동안에는 계속 !!!하거라~~<br>
<br>
결과값의 저장과 처리가 중요하다.

In [38]:
start = 1
while start <= 10:
    print(start)
    start = start + 1

1
3
5
7
9

In [114]:
# Print Even numbers under 20 by using WHILE
start = 1
while start <= 9:
    print(start*2)
    start = start + 1

2
4
6
8
10
12
14
16
18

## 3. ABOUT UDF - User Defined Function

객체지향 프로그래밍의 꽃은 바로 사용자 정의 함수 만들기이다.<br>
함수는 이전 강의에서 설명했듯, 아주 전통적인 표현으로 일종의 자판기이며 자판기의 결과물은 다른 자판기의 입력물로 사용 될 수 있다.<br>
<br>
기본적인 형태는 다음과 같다.<br>
>**def** 함수명(arg_1, arg_2, ...):<br>
>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;실행문<br>
arg_1과 arg_2 및 ...으로 실행문 하는 함수명을 define 한다는 뜻으로 해석 할 것.<br>
<br>
다시 한 번 강조하자면, 프로그래밍**'언어'**이므로 결국 우리의 모국어인 한국어로 얼만큼 찰떡같이 해석하느냐가 빠른 실력 향상의 키포인트이다.

쉬운 예제로 웜업을 해보자.<br>
<br>
a와 b 두 숫자를 더해주는 함수를 만들면?

In [40]:
def add(a, b):
    return a + b

add(2000, 20)

2020

간단한 함수이다.<br>
파이썬의 조건문이나 함수에서 콜론(:) 후 개행한 다음 들여쓰기를 꼭 지켜야 함을 명심하자.

그렇다면, random 라이브러리를 이용해 난수를 생성하여 한식, 일식, 중식 중 장르를 선택하면 세부 메뉴를 알아서 골라주는 함수를 만들어보자.<br>
<br>
함수명은 choice_in_menu로, argument는 dinner를 '한식', '일식', '중식'으로 받아 각기 메뉴 3가지씩을 랜덤하게 부여하여 총 9가지 메뉴를 제공하는 함수를 만들어보라.<br>
<br>
>***hint:***<br>
>import random<br>
>random.choice(['a', 'b', 'c'])<br>
>를 활용하여 랜덤 선택을 부여 할 수 있다!

In [25]:
##06.24 퀴즈1

import random
def choice_in_menu(dinner):
    menu = random.choice(['a','b','c'])
    if dinner == '한식':
        if menu == 'a':
            print('김치찌개')
        elif menu == 'b':
            print('된장찌개')
        else:
            print('삼겹살')
    elif dinner == '일식':
        if menu == 'a':
            print('초밥')
        elif menu == 'b':
            print('우동')
        else:
            print('모밀')
    else: #dinner =='중식'
        if menu == 'a':
            print('짜장면')
        elif menu == 'b':
            print('짬뽕')
        else: 
            print('탕수육')

choice_in_menu('한식')

된장찌개

In [45]:
import random

#### Type Your Code ####
def choice_in_menu(dinner):
    choice = random.choice(['a', 'b', 'c'])
    if dinner == '한식':
        if choice == 'a':
            print('차돌박이 된장찌개')
        elif choice == 'b':
            print('삼겹살')
        elif choice == 'c':
            print('제육볶음')
        else:
            print('한식 선택 중 랜덤 초이스 기능에서 이상이 발생했습니다.')
    elif dinner == '일식':
        if choice == 'a':
            print('초밥')
        elif choice == 'b':
            print('우동')
        elif choice == 'c':
            print('일식 카레')
        else:
            print('그런 메뉴는 없습니다.')
    elif dinner == '중국식':
        if choice == 'a':
            print('짜장면')
        elif choice == 'b':
            print('짬뽕')
        elif choice == 'c':
            print('볶음밥')
        else:
            print('그런 메뉴는 없습니다.')
    else:
        print('걍 아무거나 드시죠')
########################

In [91]:
choice_in_menu('일식')

일식 카레

## HW: 올 해를 입력하면 자동으로 올 해가 윤년인지 여부를 계산해주는 함수를 만들라!!

In [1]:
import datetime
def year_is_leapyear(num):
    if num % 4 ==0:
        print('윤년조건 1 만족')
        if num % 100 ==0:
            print('윤년조건 2 불만족')
            if num % 400 == 0:
                print('윤년조건 3 만족')
                print('윤년')
            else:
                print('윤년조건 3 불만족')
                print('평년')
        else:
            print('윤년조건 2 만족')
            print('윤년')
    else:
        print('윤년조건 1 불만족')
        print('평년')

year_is_leapyear(2022)

윤년조건 1 불만족
평년